.collapser {
  width: 195px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 11px;
  background: $background-color-secondary;
}
