$color-text-primary: #7a7a7a;
$color-text-secondary: #1b1b1b;
$color-text-tertiary: #ffd15b;
$background-color-primary: #e5e5e5;
$background-color-secondary: #fff;
$logo-color: #fff;
$logo-border-color: #000;
$placeholder-color: $color-text-primary;
$text-color: $color-text-secondary;
$input-color: $color-text-primary;
$title-color: #000;
$description-color: $color-text-secondary;
$category-color: $color-text-primary;
$detail-color: $color-text-primary;
$main-title-color: $color-text-tertiary;
$tag-background-color: $color-text-tertiary;
$tag-text-color: #000;
$cta-color: #fff;
$cta-background-color: $color-text-secondary;
$cta-active-color: #000;
$cta-active-background-color: $color-text-tertiary;
$item-color: $color-text-secondary;
$item-background-color: unset;
$item-selected-color: $color-text-secondary;
$item-selected-background-color: $color-text-tertiary;
